details {
  position: absolute;
  z-index: auto;

  &:hover {
    z-index: 2;
  }

  &>summary {
    display: block;
    cursor: pointer;
  }

  &[open] {
    z-index: 1;

    &>summary {
      background: #000;
    }
  }
}
