svg {
    display: block;
}

polyline,
circle {
    stroke: #0f0;
    stroke-linecap: round;
    fill: transparent;
}

.text-backing {
    fill: #000;
    opacity: .6;
}

text {
    fill: #fff;
    text-anchor: middle;
    dominant-baseline: middle;
}

:host:hover {
    & svg {
        background: #000b;
    }

    & .text-backing {
        opacity: .8;
    }
}
