<app-trunic-glyph-image [geometry]="geometry()" [strokesPacked]="strokesPacked()" />

<div class="ptext-align" [style.top.px]="geometry().glyph_template_origin[1]">
  <span class="font-noto ptext" [style.font-size.px]="_fontsize()">
    @if (_textFlip()) {
    <ng-container *ngTemplateOutlet="text_tspan; context: {t: _textV()}" />
    <ng-container *ngTemplateOutlet="text_tspan; context: {t: _textC()}" />
    } @else {
    <ng-container *ngTemplateOutlet="text_tspan; context: {t: _textC()}" />
    <ng-container *ngTemplateOutlet="text_tspan; context: {t: _textV()}" />
    }
  </span>
</div>

<ng-template #text_tspan let-t="t">
  @if (t === null) {
  <span class="ptext-error">?</span>
  } @else {
  <span>{{ t }}</span>
  }
</ng-template>
