svg {
    transform-origin: 0 0;
}

polyline,
circle {
    stroke: #0f0;
    stroke-linecap: round;
    fill: transparent;
}

rect {
    fill: #000;
    opacity: .6;
}

text {
    fill: #fff;
    text-anchor: middle;
    dominant-baseline: middle;
}
