<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="_g().glyph_template_shape[1]"
  [attr.height]="_g().glyph_template_shape[0]">
  <g [style.stroke-width.px]="_g().stroke_width">
    @for (stroke of _renderData(); track $index) {
    @if (stroke.length === 0) {
    <circle [attr.cx]="_g().circle_center[0]" [attr.cy]="_g().circle_center[1]" [attr.r]="_g().stroke_width" />
    } @else {
    @for (line of stroke; track $index) {
    <polyline [attr.points]="line" />
    }
    }
    }
  </g>
</svg>

<div class="ptext-align" [style.top.px]="_g().glyph_template_origin[1]">
  <span class="ptext" [style.font-size.px]="_fontsize()">
    @if (_textFlip()) {
    <ng-container [ngTemplateOutlet]="text_tspan" [ngTemplateOutletContext]="{t: _textV()}" />
    <ng-container [ngTemplateOutlet]="text_tspan" [ngTemplateOutletContext]="{t: _textC()}" />
    } @else {
    <ng-container [ngTemplateOutlet]="text_tspan" [ngTemplateOutletContext]="{t: _textC()}" />
    <ng-container [ngTemplateOutlet]="text_tspan" [ngTemplateOutletContext]="{t: _textV()}" />
    }
  </span>
</div>

<ng-template #text_tspan let-t="t">
  @if (t === null) {
  <span class="ptext-error">?</span>
  } @else {
  <span>{{ t }}</span>
  }
</ng-template>
