@use '@angular/material' as mat;

:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @include mat.theme((density: -3));
}

h2 {
  margin: 16px 0 16px 0;
  font: var(--mat-sys-title-large);
  letter-spacing: var(--mat-sys-title-large-tracking);
}

h2:first-child {
  margin-top: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-line {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.geom-preview {
  align-self: center;
  width: 300px;
  height: 400px;
  contain: strict;

  // https://stackoverflow.com/a/72287995
  --color-1: #808080;
  --color-2: #a9a9a9;
  --size: 8px;

  background-image: conic-gradient(var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-1) 50%, var(--color-1) 75%, var(--color-2) 75%);
  background-size: calc(var(--size)*2) calc(var(--size)*2);

  &>canvas {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &>app-trunic-glyph-image {
    position: absolute;
    display: block;
    color: #0F0;
    transform-origin: 0 0;
    opacity: .7;
  }
}

.geom-fields {
  display: grid;
  grid-template: auto 1fr / 1fr 1fr;
  gap: 16px;
}
