<ng-container [formGroup]="geometryForm">
  <mat-form-field>
    <input type="number" matInput formControlName="upscale" min="1" />
    <mat-label>upscale</mat-label>
  </mat-form-field>
  <h2>Geometry</h2>
  <div class="section">
    <div class="form-line">
      <mat-form-field>
        <input type="number" matInput [formControl]="previewXCtrl" />
        <mat-label>Preview X</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput [formControl]="previewYCtrl" />
        <mat-label>Preview Y</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
    </div>
    <div class="geom-preview">
      @let inputImage_ = inputImage();
      <canvas app-cropped-image-renderer-canvas [inputImage]="inputImage_" [windowSize]="glyphSizeSrcPx()"
        [windowPos]="previewWindowSrcPx()" #previewDisplay="app-cropped-image-renderer-canvas"></canvas>
      <app-trunic-glyph-image [geometry]="manualGlyphGeometry()" [strokesPacked]="4095"
        [style.transform]="previewDisplay.imgTransform().scale(1/manualGlyphGeometry().upscale)" />
    </div>
    <div class="geom-fields">
      <mat-form-field>
        <input type="number" matInput formControlName="size" min="0" />
        <mat-label>size</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="angle" min="0" max="90" />
        <mat-label>angle</mat-label><span matTextSuffix>&deg;</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="upper" />
        <mat-label>upper</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="lower" />
        <mat-label>lower</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="stroke_width" min="1" />
        <mat-label>stroke width</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
    </div>
  </div>
</ng-container>

<h2>Glyphs</h2>
