<ng-container [formGroup]="geometryForm">
  <mat-form-field>
    <input type="number" matInput formControlName="upscale" min="1" />
    <mat-label>upscale</mat-label>
  </mat-form-field>
  <h2>Geometry</h2>
  <div class="section">
    <div class="form-line">
      <mat-form-field><mat-label>Preview X</mat-label><input type="number" matInput value="0" /></mat-form-field>
      <mat-form-field><mat-label>Preview Y</mat-label><input type="number" matInput value="0" /></mat-form-field>
    </div>
    <div style="width: 300px; height: 360px; background: white; align-self: center;">
      <app-trunic-glyph-image [geometry]="manualGlyphGeometry()" [strokesPacked]="4095" style="color: green; display: block;" />
    </div>
    <div class="geom-fields">
      <mat-form-field>
        <input type="number" matInput formControlName="size" min="0" />
        <mat-label>size</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="angle" min="0" max="90" />
        <mat-label>angle</mat-label><span matTextSuffix>&deg;</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="upper" min="0" />
        <mat-label>upper</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="lower" min="0" />
        <mat-label>lower</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="stroke_width" min="1" />
        <mat-label>stroke width</mat-label><span matTextSuffix>px</span>
      </mat-form-field>
    </div>
  </div>
</ng-container>

<h2>Glyphs</h2>
