<mat-toolbar>
  <span>Trunic OCR</span>
  @defer (on immediate; hydrate on immediate) {
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Pronunciation System</mat-label>
    <mat-select [(value)]="pronctnSystem">
      @for (sys of _PNS; track $index) {
      <mat-option [value]="sys">{{ sys.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button appInfoDialogOpenButton matTooltip="About"><mat-icon>info</mat-icon></button>
  }
</mat-toolbar>
@let autoOcrState_ = autoOcrState();
<mat-progress-bar [mode]="autoOcrState_ && autoOcrState_.ocrProgress() === undefined ? 'query' : 'determinate'"
  [value]="autoOcrState_?.ocrProgress() ?? 0" />
<div class="content">
  <div class="img-drop-container" #dropZone (drop)="onImgDrop($event)" (dragover)="onImgOver($event)"
    (dragleave)="!dropZone.contains($any($event.relatedTarget)) && dragActive.set(false)"
    (dragenter)="dragActive.set(true)">
    @if (autoOcrState_) {
    @if (autoOcrState_.imageRenderable(); as imageRenderable_) {
    <canvas app-image-renderer-canvas class="img-display" [data]="imageRenderable_"
      #imgDisplay="app-image-renderer-canvas"></canvas>
    @defer (on immediate) {
    @if (autoOcrState_.recognizedGeometry(); as geometry) {
    <app-ocr-overlay [geometry]="geometry" [glyphs]="autoOcrState_.recognizedGlyphs()" [pronctnSystem]="pronctnSystem()"
      [style.transform]="imgDisplay.imgTransform().scale(1/geometry.upscale)" />
    }
    }
    } @else {
    <div class="loading-text">Loading image...</div>
    }
    } @else {
    <div class="img-drop-help">
      <div></div>
      <div class="help-contents">
        <div>Drag and drop an image here</div>
        <div class="help-or">or</div>
        <div>Paste an image from the clipboard</div>
        <div class="help-or">or</div>
        @defer (on immediate; hydrate on immediate) {
        <button mat-flat-button (click)="browseImage()">Browse for an image...</button>
        }
      </div>
      <div class="example-inputs-wrapper">
        <div class="example-help">or, try one of these:</div>
        <div class="example-inputs">
          @for (v of _EXAMPLE_INPUTS; track $index) {
          <button (click)="useExample(v)">
            <picture>
              @for (ext of v.smallest; track $index) {
              <source [srcset]="'example-images/small/' + v.path + ext" [type]="ext | imageExtToMimeType" />
              }
              <img [src]="'example-images/small/' + v.path + '.png'" alt="image of trunic text" draggable="false" />
            </picture>
          </button>
          }
        </div>
      </div>
    </div>
    }
    <div class="img-drop-indicator" [class.img-drop-active]="dragActive()"> </div>
  </div>
</div>
