<div class="img-drop-container">
  @if (imageRenderable() !== undefined) {
  <canvas app-image-renderer-canvas class="img-display" [data]="imageRenderable()"></canvas>
  } @else {
  <div class="img-drop-help">
    @if (hasInputImage()) {
    <span>Loading image...</span>
    } @else {
    <p>Drag and drop an image here</p>
    <p class="help-or">or</p>
    <p>Paste an image from the clipoard</p>
    <p class="help-or">or</p>
    <p>Browse for an image (wip)</p>
    }
  </div>
  }
  <div class="img-drop-zone" [class.img-drop-active]="dragActive()" (drop)="onImgDrop($event)"
    (dragover)="onImgOver($event)" (dragleave)="dragActive.set(false)" (dragenter)="dragActive.set(true)">
  </div>
</div>
