@let autoOcrState_ = autoOcrState();
<mat-toolbar>
  <span>Trunic OCR</span>
  @defer (on immediate; hydrate on immediate) {
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Pronunciation System</mat-label>
    <mat-select [(value)]="pronctnSystem">
      @for (sys of _PNS; track $index) {
      <mat-option [value]="sys">{{ sys.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <span class="toolbar-spacer"></span>
  <button mat-stroked-button (click)="resetOcr()" [disabled]="autoOcrState_ === undefined">Reset</button>
  <mat-button-toggle-group aria-label="mode" [(value)]="autoMode">
    <mat-button-toggle [value]="true" [disabled]="!(autoMode() === true || autoOcrState_ === undefined)">
      Auto
    </mat-button-toggle>
    <mat-button-toggle [value]="false"
      [disabled]="!(autoMode() === false || autoOcrState_ === undefined || autoOcrState_.done())">
      Manual
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-icon-button appInfoDialogOpenButton matTooltip="About"><mat-icon>info</mat-icon></button>
  }
</mat-toolbar>
<mat-progress-bar [mode]="autoOcrState_ && autoOcrState_.ocrProgress() === undefined ? 'query' : 'determinate'"
  [value]="autoOcrState_?.ocrProgress() ?? 0" />
<div class="content">
  <div class="img-container">
    <div class="img-drop-container" #dropZone (drop)="onImgDrop($event)"
      (dragover)="$event.eventPhase !== _EventPhase_REPLAY && dragActive.set(true); onImgOver($event)"
      (dragleave)="$event.eventPhase !== _EventPhase_REPLAY && !dropZone.contains($any($event.relatedTarget)) && dragActive.set(false)">
      @if (autoOcrState_) {
      @if (autoOcrState_.imageRenderable(); as imageRenderable_) {
      <canvas app-image-renderer-canvas class="img-display" [data]="imageRenderable_"
        #imgDisplay="app-image-renderer-canvas"></canvas>
      @defer (on immediate) {
      <app-ocr-overlay [manualPanel]="manualPanel()" [pronctnSystem]="pronctnSystem()"
        [imgTransform]="imgDisplay.imgTransform()" />
      }
      } @else {
      <div class="loading-text">Loading image...</div>
      }
      } @else {
      <div class="img-drop-help">
        <div></div>
        <div class="help-contents">
          <div>Drag and drop an image here</div>
          <div class="help-or">or</div>
          <div>Paste an image from the clipboard</div>
          <div class="help-or">or</div>
          @defer (on immediate; hydrate on immediate) {
          <button mat-flat-button (click)="browseImage()">Browse for an image...</button>
          }
        </div>
        <div class="example-inputs-wrapper">
          <div class="example-help">or, try one of these:</div>
          <div class="example-inputs">
            @for (v of _EXAMPLE_INPUTS; track $index) {
            <button (click)="useExample(v)">
              <picture>
                @for (ext of v.smallest; track $index) {
                <source [srcset]="'example-images/small/' + v.path + ext" [type]="ext | imageExtToMimeType" />
                }
                <img [src]="'example-images/small/' + v.path + '.png'" alt="image of trunic text" draggable="false" />
              </picture>
            </button>
            }
          </div>
        </div>
      </div>
      }
      <div class="img-drop-indicator" [class.img-drop-active]="dragActive()"> </div>
    </div>
  </div>
  @if (!autoMode()) {
  @defer (on immediate) {
  <div class="panel-scroller">
    <app-ocr-manual-control-panel #manualPanel />
  </div>
  }
  }
</div>
