@use '@angular/material' as mat;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  gap: 8px;
  @include mat.form-field-density(-4);

  & .app-title {
    margin-right: 48px;
  }

  & mat-form-field {
    width: 280px;
  }

  & .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.content {
  flex: 1;
  padding: 40px;
  contain: strict;
}

.img-drop-container {
  height: 100%;
  contain: strict;
}

.img-drop-indicator {
  position: absolute;
  inset: 0;
  border: 10px dashed transparent;
  pointer-events: none;
}

.img-drop-indicator.img-drop-active {
  border-color: blue;
}

.img-drop-help {
  width: 100%;
  height: 100%;

  border: 10px dashed gray;
  font-size: larger;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help-or {
  font-size: medium;
  font-style: italic;
  margin: .5em 0;
}

.help-or::before {
  content: "- ";
}

.help-or::after {
  content: " -";
}

.img-display {
  display: block;
  width: 100%;
  height: 100%;
}

.glyphs-container {
  position: absolute;
  inset: 0;
  transform-origin: 0 0;
}

app-trunic-glyph {
  position: absolute;
  z-index: auto;

  &:hover {
    z-index: 2;
  }
}
