@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides((container-height: 44px, container-vertical-padding: 10px));
}

[mat-dialog-content] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

app-trunic-geometry-preview {
  align-self: center;
  width: 400px;
  height: 400px;
}

.form-line {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  &>* {
    flex: 1;
  }
}

.strokes-grid {
  margin-bottom: 4px; // leave room for checkbox touch target
  display: grid;
  gap: 8px;
  align-items: baseline;
  grid-template: auto auto / 1fr repeat(6, auto);

  &>span {
    text-wrap: nowrap;
    font: var(--mat-sys-body-medium);
    letter-spacing: var(--mat-sys-body-medium-tracking);
  }
}
