/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  box-sizing: border-box;

  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}

.font-noto {
  @include mat.theme((typography: 'Noto Sans'));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

button {
  // https://css-tricks.com/overriding-default-button-styles/

  margin: 0;
  -moz-appearance: none;

  // https://github.com/angular/components/blob/main/src/material/button/button.scss

  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: transparent;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &[hidden] {
    display: none;
  }

  appearance: none;
  padding: 0;
}
