@use '@angular/material' as mat;

:host {
    text-wrap: nowrap;
}

mat-card-content {
    display: grid;
    grid: auto auto auto / auto-flow 1fr auto;
    gap: 8px 0px;

    * {
        margin: 0;
    }

    &>.glyph-image {
        grid-row: 1;
        place-self: center;
        padding-inline: 8px;
    }

    &>.glyph-plus {
        grid-row: 1;
        translate: 0 calc(49px - 50%);
        /* 49 == glyph_template_origin[1] */
        font-weight: 700;
    }

    &>h3 {
        grid-row: 2;
        text-align: center;

        @include mat.theme((typography: 'Noto Sans'));

        & {
            font: var(--mat-sys-display-small);
            letter-spacing: var(--mat-sys-display-small-tracking);
        }
    }

    &>ul {
        grid-row: 3;
    }
}

.error {
    color: #f00;
}

ul {
    padding-inline: 1.5em;
    font: var(--mat-sys-body-large);
    letter-spacing: var(--mat-sys-body-large-tracking);
}

mark {
    background-color: inherit;
    color: #fc0;
    font-weight: 700;
}
